{% extends "common/base.html" %}

{% block content %}
    <canvas id="scene" width="300" height="400" style="border: 1px solid olive;">

    </canvas>
{% endblock %}

{% block extra_js %}
<script>


    const canvas = document.getElementById("scene");
    const ctx = canvas.getContext("2d");

    const image = new Image()
    image.onload = draw;
    image.src = "static/images/beagle.jpeg";

    const rectangles = [
        {x: 10, y: 20, z: 30, w:40},
        {x: 20, y: 80, z: 40, w:50},
        {x: 30, y: 40, z: 20, w:90},
        {x: 40, y: 30, z: 20, w:30},
    ]

    function draw() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.drawImage(image, 0, 0);
        
        rectangles.forEach(rectangle => {
            ctx.strokeRect(rectangle.x, rectangle.y, rectangle.z, rectangle.w);
        })
    }


</script>
{% endblock %}