{% extends "common/base.html" %}

{% block content %}
    <canvas id="scene" width="300" height="400" style="border: 1px solid olive;">

    </canvas>
{% endblock %}

{% block extra_js %}
<script>
    const canvas = document.getElementById("scene");
    const ctx = canvas.getContext("2d");

    ctx.fillStyle = "olive";
    ctx.fillRect(0, 0, 100, 100);
    ctx.fillRect(0, 300, 100, 100);
    ctx.fillRect(200, 0, 100, 100);
    ctx.fillRect(200, 300, 100, 100);

    ctx.strokeRect(0, 0, 100, 100);
    ctx.clearRect(200, 300, 100, 100);
    
    const x = 10;
    const y = 20;
    const z = 50;
    const w = 60;
    
    const array = {x, y, z, w};
    
    ctx.fillRect(array[0], array[1], array[2], array[3]);
    
</script>
{% endblock %}